.wp-block-cover {
	&.jg {
		max-width: none;
	}

	&:not([class*="text-color"]) [class*="inner-container"] {
		color: $body-color;
	}

	&.text-center [class*="inner-container"] {
		text-align: center;
	}

	&.has-background-dim:not([class*="text-"]):not(.has-white-background-color) [class*="inner-container"] {
		color: $white;
	}

	&.jg {
		min-height: initial;
	}

	&.has-background-dim:not(.has-background-gradient)::before, .wp-block-cover__gradient-background {
		opacity: 1;
		z-index: -1;
	}

	&.has-background-dim:not([class*="background-color"]) {
		background-color: transparent;
	}
}

.alignleft {
	text-align: left;
	margin-top: 0;
}

.aligncenter {
	clear: both;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.alignright {
	margin-top: 0;
	margin-bottom: var(--global--spacing-vertical);
}

.alignwide {
	padding-left: 5vw;
	padding-right: 5vw;
	margin-left: calc(-96vw / 2 + 100% / 2);
	width: 96vw;
}

.alignfull, .page-heading {
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	padding-left: 0;
	padding-right: 0;
	width: 100vw;
}

.alignfull, [data-align="full"], .alignwide, [data-align="wide"] {
	clear: both;

	> img {
		width: 100%;
	}
}

[class*="jg"], .alignfull[class*="jg"], .alignwide, [data-align="wide"] {
	[class*="inner-container"] {
		@include make-container();
		@each $breakpoint, $container-max-width in $container-max-widths {
			@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
				max-width: $container-max-width;
			}
		}

		padding: 0;
	}
}

[class*="inner-container"] {
	color: inherit;
}

// Content alignment
.has-left-content {
	justify-content: flex-start;
}

.has-right-content {
	justify-content: flex-end;
}

.has-parallax {
	background-attachment: fixed;
}

.desktop-only {
	display: none;

	@include media-breakpoint-down(md) {
		display: block;
	}
}

@each $color, $value in $theme-colors {
	/* #{$color} */
	.has-#{$color}-bg-color {
		background-color: $value;
	}

	.has-#{$color}-text-color {
		color: $value;
	}
}

.wp-block-columns {
	align-items: center;
}

[class*=bg-color] [class*=inner-container] {
	background-color: inherit !important;
}

[class*=text-color] [class*=inner-container] {
	color: inherit !important;
}
