footer#mastfooter {
	background-color: $black;
	background-position: center;
	background-size: cover;
	color: $white;
	padding-top: 3rem;
	padding-bottom: 3rem;

	.row {
		align-items: stretch;

		> div {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	.contact {
		font-size: $font-size-secondary;

		> img {
			margin-bottom: 1.5rem;
			max-width: 125px;
		}

		p {
			margin-bottom: 0;
		}
	}

	button, a {
		color: inherit;
		text-decoration: none;
	}

	.nav-link {
		&:hover {
			text-decoration: underline;
		}
	}

	.social {
		align-items: center;
		justify-content: center;
		position: relative;

		.fab, .note {
			font-size: 2rem;
		}

		.note {
			margin-bottom: 1rem;
		}

		&::before, &::after {
			border-color: #767676;
			border-style: solid;
			border-width: 0;
			content: '';
			height: 100%;
			position: absolute;
			width: 70%;
		}

		.support {
			align-items: flex-start;
			justify-content: center;
			margin-top: 2rem;
			margin-bottom: 2rem;
			width: 80%;

			> div {
				@include make-col-ready();
				@include make-col(12);

				align-items: center;
				text-align: center;

				img {
					max-width: 100%;
				}

				&:not(:last-child) {
					margin-bottom: 2rem;
				}

				//align-items: flex-start;
			}
		}
	}

	.nav-item {
		font-family: $headings-font-family;
		font-size: 11px;
	}

	@include media-breakpoint-down(sm) {
		.row {
			flex-direction: column;
		}

		.section {
			align-items: center;
		}

		.social {
			margin-top: 1rem;
			margin-bottom: 1rem;
			padding-top: 1rem;
			padding-bottom: 1rem;

			&::before {
				border-top-width: 1px;
				top: 0;
			}

			&::after {
				border-bottom-width: 1px;
				bottom: 0;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.social {
			padding-left: 1rem;
			padding-right: 1rem;

			&::before {
				border-left-width: 1px;
				left: 0;
			}

			&::after {
				border-right-width: 1px;
				right: 0;
			}

			.support {
				> div {
					@include make-col(6);

					margin-top: 2rem;
				}
			}
		}

		.nav {
			padding-left: 3rem;
		}
	}
}
