header#masthead {
	body.logged-in & .menu-register {
		display: none;
	}

	.navbar.navbar-expand-lg {
		flex-flow: column;
	}

	.navbar-nav {
		@include media-breakpoint-up(lg) {
			align-items: center;
			flex-direction: row;
		}
	}

	.section {
		position: relative;
		width: 100%;
	}

	.btn-link {
		text-decoration: none;
	}

	.container {
		align-items: center;
		display: flex;
		justify-content: space-between;

		@include media-breakpoint-down(lg) {
			padding-left: $grid-gutter-width / 2;
			padding-right: $grid-gutter-width / 2;
		}
	}

	.brand {
		justify-content: center;

		.navbar-brand {
			margin: 1rem 0;
			width: calc(75vw - #{$grid-gutter-width} / 2);

			@include media-breakpoint-up(lg) {
				max-width: 40vw;
			}

			img {
				max-width: 100%;
			}
		}
	}

	.navbar-toggler {
		border: none;
	}

	.menu-sign-in, .menu-profile {
		&, .btn-link {
			padding: 0;
		}
	}

	.menu-sign-out {
		&, .btn-link {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	#menu-main-nav {
		> .nav-item:not(.menu-register) {
			padding-top: 1.5rem; padding-bottom: 1.5rem;
		}
	}

	.nav-item {
		font-family: $headings-font-family;
	}

	.navbar-collapse {
		background: $black;
		//padding: 1.5rem 0;

		.container {
			> img {
				max-width: 200px;
			}

			.btn-group {
				flex-wrap: wrap;
				position: initial;
			}

			.btn-link {
				&.dropdown-toggle {
					color: $navbar-light-color;
					padding-left: 0;

					.active {
						color: $navbar-light-active-color;
					}
				}
			}

			.nav-button .nav-link {
				font-weight: 500;
				padding-left: 0;
				padding-right: 0;
			}

			.menu-item:not(.nav-button) .btn-link, .nav-link {
				padding-right: 0;
			}

			.nav-item {
				font-size: $btn-font-size;
				padding: 0 1rem;

				&:hover:not(.btn) .nav-link, &:hover .dropdown-toggle {
					color: $navbar-light-hover-color;
				}

				&.btn {
					padding: 0;

					.nav-link {
						color: $white !important;
					}
				}
			}

			.dropdown-menu {
				background: none;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				margin-top: -2px;

				&:not(.dropdown-submenu) {
					top: 4rem;

					li {
						background: $black;
					}
				}

				.btn {
					padding: 0;
				}
			}

			@include media-breakpoint-up(lg) {
				.navbar-nav {
					margin-left: auto;
				}

				.nav-item > .nav-link {
					padding-left: $btn-padding-x;
				}

				.dropdown-menu {
					border: none;

					.nav-item {
						padding-right: $navbar-nav-link-padding-x;
						padding-left: $navbar-nav-link-padding-x;
					}

					> li.nav-item:hover {
						background-color: $tertiary;

						> a.nav-link {
							color: $black;
						}
					}

					li {
						position: relative;

						&:hover .dropdown-submenu {
							display: block;
						}

						.dropdown-submenu {
							display: none;
							position: absolute;
							left: calc(100% - 0.5rem);
							top: -6px;
						}

						.dropdown-toggle {
							transform: rotate(-90deg);
						}

						.nav-link {
							text-align: left;
						}
					}
				}
			}

			@include media-breakpoint-up(md) {
				.nav-item:hover {
					.dropdown-menu:not(.dropdown-submenu) {
						display: block;
					}
				}
			}

			@include media-breakpoint-down(md) {
				align-items: flex-start;
				justify-content: flex-start;
				flex-wrap: wrap;

				> img {
					margin: 1rem auto;
					order: 2;
				}

				.btn-link {
					padding: 0;
				}

				.navbar-nav {
					width: 100%;
				}

				.nav-item {
					width: 100%;

					&:not(:last-child) {
						border-bottom: 1px solid $white;
					}

					&:hover {
						.dropdown-menu {
							display: block;
						}
					}
				}

				.btn-group {
					button {
						flex: unset;
					}

					&:not(.show) .btn-link.dropdown-toggle {
						padding-right: 6px;
						transform: rotate(-90deg);
					}
				}

				.dropdown-menu {
					background: none;
					flex: 0 0 100%;
					max-width: 100%;
					margin-top: -12px;
					padding-top: 0;
					padding-left: 1rem;
					padding-bottom: 1.2rem;
				}
			}
		}
	}

	.menu-register {
		background: $primary;
		color: $white;

		.btn.btn-link {
			padding: 0;
		}

		.nav-link {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.account-bar {
		background: $primary;
		color: $white;

		.container {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}

		ul {
			list-style: none;
			margin-bottom: 0;
		}

		.social-media {
			display: flex;
			padding: 0;

			li {
				&:not(:first-child) {
					padding-left: 0.25rem;
				}

				.nav-link {
					padding: 0;
				}
			}

			.fa, .fab {
				color: $white;
			}
		}

		#menu-top-bar {
			li {
				display: inline;

				&:last-child {
					padding-right: 0;
				}
			}

			.nav-link {
				border: 1px solid $white;
				color: $white;
				padding: $btn-padding-y/2 $btn-padding-x;
			}

			@include media-breakpoint-down(sm) {
				display: flex;
			}
		}
	}
}
