img {
	height: auto;
	max-width: 100%;
}

ul.social-media {
	align-items: center;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nf-form-cont .nf-form-fields-required, .display-body {
	font-size: $font-size-base;
}

.training-grid {
	> .wp-block-group {
		@include make-col-ready();
		@include make-col(12);

		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}

		@include media-breakpoint-up(md) {
			@include make-col(4);
		}

		p {
			text-align: center;

			&:not(:last-child) {
				margin-bottom: 0;
			}
		}

		figure, iframe {
			min-height: auto;
			max-width: 100%;
			min-width: auto;
		}
	}
}

.h-100 {
	iframe, figure, img {
		height: 100%;
	}
}

.w-100 {
	iframe, figure, img {
		width: 100%;
	}
}

figure.wp-block-embed.is-type-video, iframe {
	max-width: 100%;
	min-height: auto;
	min-width: auto;
}

.black-bar {
	background: $gray-900;
	border-radius: 3px;
	color: $white;
	padding: 1rem 1.5rem;

	&.collapsed {
		.fa-circle {
			color: $tertiary;
		}
	}
}

.collapse-icon {
	.fa-circle {
		color: $primary;
	}

	.fa-caret-down {
		color: $white;
		transform: scaleY(-1);
	}

	.btn-primary > & {
		margin-right: 1rem;

		i {
			color: $white;
			transition: 0.2s color;
		}

		.fa-circle {
			font-size: 1.75rem;
			line-height: 1.75rem;
			margin-right: 0.5rem;
		}

		.fa-caret-down {
			color: $primary;
			font-size: 1rem;
			transform: scaleY(-1);
		}
	}

	.collapsed > & {
		.fa-caret-down {
			transform: scaleY(1);
		}
	}
}

.wp-block-cover__inner-container {
	> *:last-child {
		//margin-bottom: 0;
		//padding-bottom: 0;
	}
}

.wp-block-cover.training {
	.intro {
		align-items: flex-end;
		display: flex;
		flex-wrap: wrap;

		h1, .date {
			@include make-col-ready();
			@include make-col(12);
		}

		h1 {
			color: $tertiary;
		}

		.date {
			color: $primary;
			clear: both;
			font-size: $h3-font-size;
			font-weight: 700;
		}

		@include media-breakpoint-up(md) {
			h1, .date {
				@include make-col(6);
			}

			.date {
				text-align: right;
			}
		}
	}
}

.members {
	.member {
		margin-top: 1rem;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.btn.pending {
	background-color: $tertiary;
	border-color: $tertiary;
	color: $black;
	pointer-events: none;
}

ol ol, .ol-alpha ol {
	list-style: lower-alpha;
	margin-bottom: 1rem;
}
