h1, .display-1, h2, .display-2, h3, .display-3, h4, .display-4 {
	text-transform: uppercase;
}

h1, .display-1, h2, .display-2 {
	font-weight: 800;
}

h3, .display-3 {
	font-weight: 500;
}

h4, .display-4 {
	font-weight: 300;
}
