.workshop-single {
	.post-title {
		font-size: $h3-font-size;
		line-height: 1;
		margin-bottom: 0;
	}

	.date {
		justify-content: space-between;
		padding: 0.75rem 0;
		text-align: left;
	}

	.display-body {
		font-weight: 600;
		text-transform: none;
	}

	.presenter {
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}

		> div:not(:last-child) {
			margin-bottom: 0.2rem;
		}

		.image {
			text-align: center;

			img {
				width: 220px;
				max-width: 100%;
			}
		}

		.email a {
			color: $primary;
			padding: 0;
			text-decoration: none;
		}
	}

	.zoom-link {
		margin-bottom: 1.5rem;

		.btn {
			width: 100%;
		}

		.password {
			text-align: center;
		}
	}

	.resources {
		margin-top: 1.5rem;

		.resource {
			display: flex;
			justify-content: space-between;
			line-height: 2;
			text-transform: none;
			text-decoration: none;

			&:not(:last-child) {
				border-bottom: 1px solid $tertiary;
				padding-bottom: 0.75rem;
				margin-bottom: 0.75rem;
			}
		}

		.icon {
			i {
				color: $white;
			}

			.fa-square {
				color: $primary;
			}
		}
	}

	.collapsed .fa-caret-down {
		transform: scaleY(1);
	}

	.text {
		:last-child:not(.btn):not(.recording):not(.resources) {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.recording {
			position: relative;
			padding-bottom: 56.25%;

			iframe {
				position:absolute;
				top:0;left:0;
				width:100%;height:100%;
			}
		}
	}

	.btn {
		margin-top: 1rem;
	}

	@include media-breakpoint-up(md) {
		.time {
			text-align: right;
		}

		.line {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				z-index: -1;
				top: 0;
				bottom: 0;
				left: 50%;
				border-left: 1px solid $gray-200;
				transform: translate(-50%);
			}
		}
	}
}
