.menu-icon-activities div.dashicons-before, .menu-icon-training div.dashicons-before {
	align-items: center;
	display: flex;
	justify-content: center;

	&::before {
		font-family: "Font Awesome 5 Pro", sans-serif;
		font-weight: 600;
		font-size: 18px !important;
	}
}

.menu-icon-activities div.dashicons-before {
	&::before {
		content: "\f434";
	}
}

.menu-icon-training div.dashicons-before {
	&::before {
		content: "\f44b";
	}
}

.menu-icon-workshop div.dashicons-before {
	&::before {
		content: "\f130";
	}
}
