html, body {
	height: initial;
	min-height: 100%;
}

.login {
	background-image: url("../images/sign-in-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	&::before {
		background-color: rgba(#000, 0.5);
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.7;
		z-index: -1;
	}

	h1 {
		background-color: transparent;
		background-image: none;
		border-radius: 3px;
		content: '';
		display: flex;
		flex-direction: column;
		width: 100%;

		a {
			display: none;
		}

		&::before, &::after {
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			content: '';
		}

		&::after {
			background-image: url("../images/road-to-naig-2021-long-wht.png");
			height: 8rem;
			width: 100%;
		}
	}

	#backtoblog a, #nav a {
		color: #fff;
	}
}
