.edit-post-visual-editor {
	@import "../shared/all";
	@import "../shared/bootstrap";

	@import "../shared/content";

	@import "main/buttons";
	@import "main/gutenberg";
	@import "main/layout";
	@import "main/misc";
	@import "main/type";

	[class*="inner-container"] {
		max-width: 580px !important;
	}

	.alignfull, .alignwide {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
