.menu-icon-activities div.dashicons-before, .menu-icon-training div.dashicons-before {
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu-icon-activities div.dashicons-before::before, .menu-icon-training div.dashicons-before::before {
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 600;
  font-size: 18px !important;
}

.menu-icon-activities div.dashicons-before::before {
  content: "\f434";
}

.menu-icon-training div.dashicons-before::before {
  content: "\f44b";
}

.menu-icon-workshop div.dashicons-before::before {
  content: "\f130";
}

html, body {
  height: initial;
  min-height: 100%;
}

.login {
  background-image: url("../images/sign-in-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}
.login h1 {
  background-color: transparent;
  background-image: none;
  border-radius: 3px;
  content: "";
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login h1 a {
  display: none;
}
.login h1::before, .login h1::after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}
.login h1::after {
  background-image: url("../images/road-to-naig-2021-long-wht.png");
  height: 8rem;
  width: 100%;
}
.login #backtoblog a, .login #nav a {
  color: #fff;
}
